@model Samsys_Custos.Data.FORNECEDOR

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>FORNECEDOR</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CATEGORIA)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CATEGORIA.id_categoria)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.sugestao_custo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.sugestao_custo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id_fornecedor">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
