@model IEnumerable<Samsys_Custos.Data.UTILIZADOR>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.data_admissao)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.EQUIPA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PERFIL)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.data_admissao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EQUIPA.id_equipa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PERFIL.id_perfil)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_colaborador">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_colaborador">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_colaborador">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
