@model Samsys_Custos.Models.SALARIO

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SALARIO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.liquido)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.liquido)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.subsidio_alimentacao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.subsidio_alimentacao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.outros)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.outros)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.seguranca_social)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.seguranca_social)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.irs)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.irs)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.outras_despesas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.outras_despesas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.outras_regalias)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.outras_regalias)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id_salario" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
