@model Samsys_Custos.Models.MEDIA_CUSTOS

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>MEDIA_CUSTOS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EQUIPA)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EQUIPA.id_equipa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.qtd_colaboradores)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.qtd_colaboradores)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.mes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.mes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ano)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ano)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id_media">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
