@model IEnumerable<Samsys_Custos.Models.MEDIA_CUSTOS>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EQUIPA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.qtd_colaboradores)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ano)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EQUIPA.id_equipa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.qtd_colaboradores)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ano)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_media">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_media">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_media">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
