@model IEnumerable<Samsys_Custos.ViewModels.ListUsersViewModel>

@{
    ViewData["Title"] = "Utilizadores";
}

<br />
<center><h2>Gestão de Utilizadores</h2></center>
<br />
<div>
    <a class=" btn btnActionCreate" asp-action="CreateUser">Novo utilizador</a>
</div>
<hr />
<br />
<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>
                Nº Colaborador
            </th>
            <th>
                Nome
            </th>
            <th>
                Email
            </th>
            <th>
                Segurança Social
            </th>
            <th>
                Perfil
            </th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.id_colaborador)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Segsocial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Roles)
                </td>
                <td>

                    <a class="fa fa-fw fas fa-edit fa-lg btnIconEdit" asp-action="EditUser" asp-route-id="@item.Id"></a>
                    <a class="fa fa-fw fas fa-trash fa-lg btnIconRemove" asp-action="Delete" asp-route-id="@item.Id"></a>

               
                </td>
            </tr>
        }
    </tbody>
</table>
