@model IEnumerable<Samsys_Custos.ViewModels.ListUsersViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Gestão de Utilizadores</h2>

<p>
    <a class=" btn btnActionCreate" asp-action="CreateUser">Novo utilizador</a>
</p>
<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>
            Nº Colaborador
            </th>
            <th>
                Nome
            </th>
            <th>
                Email
            </th>
            <th>
               Segurança Social
            </th>
            <th>
               Perfil
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.id_colaborador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Segsocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Roles)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditUser", new {  id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
