@model IEnumerable<Samsys_Custos.Data.ATRIBUICAO>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.id_viatura)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.id_gsm)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.id_colaborador)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.data_inicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.data_fim)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_viatura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_gsm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_colaborador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.data_inicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.data_fim)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_atribuicao">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_atribuicao">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_atribuicao">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
