@model Samsys_Custos.Data.ATRIBUICAO

@{
    ViewData["Title"] = "DeleteViatura";
}

<br />
<center><h2>Remover Atribuição de Viatura</h2></center>
<br />
<hr />
<br />
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <center>
            <h6>Deseja remover esta atribuição?</h6>
        </center>
        <br />
        <dl class="dl-horizontal">
            <dt>
                Viatura
            </dt>
            <dd>
                @Html.DisplayFor(model => model.VIATURA.matricula)
            </dd>
            <dt>
                Marca
            </dt>
            <dd>
                @Html.DisplayFor(model => model.VIATURA.marca)
            </dd>
            <dt>
                Colaborador
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UTILIZADOR.nome)
            </dd>
            <dt>
                Data Início
            </dt>
            <dd>
                @Html.DisplayFor(model => model.data_inicio)
            </dd>
            <dt>
                Data Final
            </dt>
            <dd>
                @Html.DisplayFor(model => model.data_fim)
            </dd>
        </dl>

        <form asp-action="DeleteViatura">
            <input type="hidden" asp-for="id_atribuicao" />
            <div class="row">
                <div class="col-md-6">
                    <a class="btn btnVoltarEdit2 form-control" asp-action="Viatura">Voltar</a>                  
                </div>
                <div class="col-md-6">
                    <input type="submit" value="Remover" class="btn btnSave form-control" />
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-4">
    </div>
</div>
