@model IEnumerable<Samsys_Custos.Data.ATRIBUICAO>

@{
    ViewData["Title"] = "Atribuições GSM";
}

<br />
<center><h2>Atribuições GSM</h2></center>

<br />


<div>
    <button type="button" class="btn btnActionCreate" id="btnCriarGsm">Atribuir GSM</button>
</div>
<br />
<div class="table-responsive">
    <table class="table table-bordered" id="dataTable">
        <thead>
            <tr>
                <th>
                    Data Inicial
                </th>
                <th>
                    Data Final
                </th>
                <th>
                    Número
                </th>
                <th>
                    Colaborador
                </th>
                <th>
                    Opções
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.data_inicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.data_fim)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GSM.numero)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UTILIZADOR.nome)
                    </td>
                    <td>
                        <a asp-action="EditGSM" asp-route-id="@item.id_atribuicao">Editar</a> |
                        <a asp-action="Delete" asp-route-id="@item.id_atribuicao">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section scripts {
   
    <script src="~/js/site.js"></script>

}