@model IEnumerable<Samsys_Custos.Data.ATRIBUICAO>

@{
    ViewData["Title"] = "GSM";
}

<h2>GSM</h2>

<p>
    <a asp-action="CreateGSM">Atribuir GSM</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Data Inicial
            </th>
            <th>
                Data Final
            </th>
            <th>
                Número
            </th>
            <th>
                Colaborador
            </th>
            <th>
                Opções
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.data_inicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.data_fim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GSM.numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UTILIZADOR.nome)
            </td>
            <td>
                <a asp-action="EditGSM" asp-route-id="@item.id_atribuicao">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.id_atribuicao">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
