@model IEnumerable<Samsys_Custos.Data.ATRIBUICAO>

@{
    ViewData["Title"] = "Atribuições";
}
<br />
<center><h2>Atribuições Gerais</h2></center>
<br />
<hr />
<br />
<div class="table-responsive">
    <table class="table table-bordered" id="dataTable">
        <thead>
            <tr>
                <th>
                    Atribuido em
                </th>
                <th>
                    Até
                </th>
                <th>
                    Número
                </th>
                <th>
                    Colaborador
                </th>
                <th>
                    Matrícula
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.data_inicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.data_fim)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GSM.numero)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UTILIZADOR.nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VIATURA.matricula)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>