@model Samsys_Custos.Data.UTILIZADOR_PERMISSAO

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>UTILIZADOR_PERMISSAO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id_colaborador)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.id_colaborador)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.id_permissao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.id_permissao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id_utilizador_permissao">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
