@model Samsys_Custos.Data.DADOS_PHC

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>DADOS_PHC</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id_fornecedor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.id_fornecedor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.custo_interno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.custo_interno)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id_phc">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
