@model Samsys_Custos.Data.GSM

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>GSM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.numero)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.numero)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.equipamento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.equipamento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id_gsm">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
