@model IEnumerable<Samsys_Custos.Models.VIATURA>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.matricula)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.marca)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.modelo)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.matricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.modelo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_viatura">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_viatura">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_viatura">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
