@model IEnumerable<Samsys_Custos.Data.VIATURA>

@{
    ViewData["Title"] = "Index";
}

<center style="padding-top:1%"><h2>Viaturas Samsys</h2></center>
<hr />
<a class="btn btnActionCreate" asp-action="Create">Nova Viatura</a>

<table class="table table-bordered" id="dataTable" cellspacing="0">
    <thead>
        <tr>
            <th>
                Matrícula
            </th>
            <th>
                Marca
            </th>
            <th>
                Modelo
            </th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.matricula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.marca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.modelo)
                </td>
                <td>
                    <a class="fa fa-fw fas fa-edit fa-lg btnIconEdit" asp-action="Edit" asp-route-id="@item.id_viatura"></a> 
                    <a class="fa fa-fw fas fa-trash fa-lg btnIconRemove" asp-action="Delete" asp-route-id="@item.id_viatura"></a>
                </td>
            </tr>
        }
    </tbody>
</table>
