@model IEnumerable<Samsys_Custos.Data.PERFIL>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.salario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.premio)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.salario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.premio)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_perfil">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_perfil">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_perfil">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
