@model IEnumerable<Samsys_Custos.Data.CUSTO>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.id_colaborador)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.id_categoria)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.id_gsm)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.id_phc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.id_viatura)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.id_salario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.data)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ano)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.mes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.designacao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.valor)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_colaborador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_gsm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_phc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_viatura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_salario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ano)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.designacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_custo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_custo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_custo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
