@model List<Samsys_Custos.Models.CUSTOS_COLABORADOR>
@{ViewData["Title"] = "Colaborador";}
<br />
<center>
    <h2>Custo por Colaborador</h2>
</center>
<hr />
<br />

<div class="row">
    <div class="col-md-4">
        <label class="control-label">Ano</label>
        <select class="form-control" asp-items="ViewBag.ano" id="select_ano_custos">
            <option value=null>Selecione um ano</option>
        </select>
    </div>
    <div class="col-md-4">
        <label class="control-label">Colaborador</label>
        <select class="form-control" asp-items="ViewBag.id_colaborador" id="select_colaborador">
            <option value=null>Selecione um colaborador</option>
        </select>
    </div>
    <div class="col-md-4">
        <label class="control-label">&ensp;</label><br />
        <input type="submit" value="Filtrar" class="btn btnCreate" id="btnFiltro" />
    </div>
</div>
<br />
<hr />
<br />

<center>
    <h6 id="nomeColaborador"></h6>
</center>
<br />
<div class="table-responsive">
   
    <table class="table table-bordered" id="mytable" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>
                    Categoria
                </th>
                <th>
                    Ano
                </th>
                <th>
                    Janeiro
                </th>
                <th>
                    Fevereiro
                </th>
                <th>
                    Março
                </th>
                <th>
                    Abril
                </th>
                <th>
                    Maio
                </th>
                <th>
                    Junho
                </th>
                <th>
                    Julho
                </th>
                <th>
                    Agosto
                </th>
                <th>
                    Setembro
                </th>
                <th>
                    Outubro
                </th>
                <th>
                    Novembro
                </th>
                <th>
                    Dezembro
                </th>

            </tr>
        </thead>
        <tbody id="tableColaborador">
           <!-- @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Colaborador)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Categoria)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Janeiro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fevereiro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Março)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Abril)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Maio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Junho)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Julho)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Agosto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Setembro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Outubro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Novembro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dezembro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ano)
                    </td>
                </tr>
            }-->
        </tbody>
    </table>
</div>

@section scripts {
    <script src="~/js/table.js"></script>
    <script src="~/js/CustoColaborador.js"></script>
}
