@model List<Samsys_Custos.Models.CUSTOS_EQUIPA_DETALHE>
@{ViewData["Title"] = "Custos Equipa";}

@{
    ViewBag.TitlePage = "Custos por Equipa";
    ViewBag.Class = "fa-table";
}

<br />
<center><h2>Custos Totais por Equipa - @ViewBag.nomeEquipa</h2> </center>
<br />
<hr />
<br />
<div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>


                <th>
                    Mês
                </th>
                <th>
                    Colaborador
                </th>
                <th>
                    Categoria
                </th>
                <th>
                    Designação
                </th>
                <th>
                    Valor
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.mes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.colaborador)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.categoria)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.designacao)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Total)€
                    </td>


                </tr>
            }
        </tbody>
    </table>
</div>