
@model List<Samsys_Custos.Models.CUSTOS_TOTAIS>

@{
    ViewData["Title"] = "Custos Totais";
    ViewBag.TitlePage = "Custos por Categoria";
}

<center><h2>Detalhe - @ViewBag.nomeCategoria - @ViewBag.mesDetalhe - @ViewBag.anoDetalhe</h2></center>
<hr />
<h8><b>Você está aqui : </b>Dashboard - <a asp-area="" asp-controller="CUSTO" asp-action="Grafico_Gerais">Dashboard</a> / Detalhe - @ViewBag.nomeCategoria - @ViewBag.mesDetalhe - @ViewBag.anoDetalhe </h8>
<hr />
<div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>
                    Mês
                </th>
                <th>
                    Sub-Categoria
                </th>

                <th style="text-align:right;">
                    Valor
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @{
                        var strarr = item.mes.ToString().ToCharArray();
                        strarr[0] = strarr[0].ToString().ToUpper()[0];
                        string mes = string.Join("", strarr);
                        <p>@mes</p>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>

                <td style="text-align:right;">
                    @Html.DisplayFor(modelItem => item.Valor)€
                </td>


            </tr>
            }
        </tbody>
    </table>
</div>