@model Samsys_Custos.Data.SALARIO

@{
    ViewData["Title"] = "Remover Salario";
}

<center style="padding-top:1%"><h2>Remover Custo de Salário</h2></center>
<hr />
<h8><b>Você está aqui : </b>Registo de Custos - <a asp-area="" asp-controller="CUSTO" asp-action="Salario">Salários</a> / Apagar Registo</h8>
<hr />
<div class="row">
    <div class="col-md-4">
    </div>

    <div class="col-md-4">
        <center>
            <h6>Deseja remover este custo?</h6>
        </center>
        <br />
        <dl class="dl-horizontal">
            <dt>
                Colaborador
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CUSTO.UTILIZADOR.nome)
            </dd>
            <dt>
                Categoria
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CUSTO.CATEGORIA.nome)
            </dd>
            <dt>
                Ano
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CUSTO.ano)
            </dd>
            <dt>
                Mês
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CUSTO.mes)
            </dd>
            <dt>
                Valor
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CUSTO.valor)€
            </dd>



        </dl>

        <form asp-action="DeleteSalario">
            <input type="hidden" asp-for="id_salario" />
            <div class="row">
                <div class="col-md-6">
                    <a class="btn btnVoltarEdit2 form-control" asp-action="Salario">Voltar</a>
                </div>
                <div class="col-md-6">
                    <input type="submit" value="Remover" class="btn btnSave form-control" />
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-4">
    </div>
</div>