@model Samsys_Custos.Data.CUSTO

@{
    ViewData["Title"] = "Remover Custo";
}

<br />
<center><h2>Remover Custo</h2></center>
<br />
<hr />
<br />

<h6>Deseja remover este custo?</h6>
<br />
<div>
    
    <dl class="dl-horizontal">
        <!--<dt>
        @Html.DisplayNameFor(model => model.data)
    </dt>
        <dd>
        @Html.DisplayFor(model => model.data)
        </dd>-->
        <dt>
            Ano
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ano)
        </dd>
        <dt>
            Mês
        </dt>
        <dd>
            @Html.DisplayFor(model => model.mes)
        </dd>
        <!--<dt>
        @Html.DisplayNameFor(model => model.designacao)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.designacao)
    </dd>-->
        <dt>
           Valor
        </dt>
        <dd>
            @Html.DisplayFor(model => model.valor)
        </dd>
        <dt>
           Categoria
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CATEGORIA.nome)
        </dd>
        <dt>

            <!-- @Html.DisplayNameFor(model => model.DADOS_PHC)-->
        </dt>
        <dd>



            <!-- @Html.DisplayFor(model => model.DADOS_PHC.id_phc)-->
        </dd>
        <dt>

            @Html.DisplayNameFor(model => model.GSM)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GSM.numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UTILIZADOR)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UTILIZADOR.nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VIATURA)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VIATURA.matricula)
        </dd>
       
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="id_custo" />
        <input type="submit" value="Delete" class="btn btnCreate" /> <br />
        
            <a asp-action="Index">Voltar</a>
          </form>
</div>
