@model Samsys_Custos.Helpers.PaginatedList<Samsys_Custos.Data.CUSTO>

@{
    ViewData["Title"] = "Economato";
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<center style="padding-top:1%"><h2>Economato</h2></center>
<hr />
<h8><b>Você está aqui : </b>Registo de Custos - Economato</h8>
<hr />
<div class="row">
    <div class="col-md-4">
        <label class="control-label">Ano</label>
        <select class="form-control" asp-items="ViewBag.ano" id="select_ano_custos"></select>
    </div>
    <div class="col-md-4">
        <label class="control-label">&ensp;</label><br />
        <input type="submit" value="Filtrar" class="btn btnCreate" id="btnFiltroEconomato" />
    </div>
    <div class="col-md-4">
    </div>

</div>
<br />
<hr />
<div class="table-responsive">
    <table class="table table-bordered" id="dataTable" cellspacing="0">
        <thead>
            <tr>

                <th hidden>
                    Ano
                </th>
                <th>
                    Data
                </th>

                <!-- <th>
        Mês
    </th>-->
                <th>
                    Categoria
                </th>
                <th>
                    Designação
                </th>
                <th>
                    Colaborador
                </th>
                <th style="text-align:right;">
                    Valor
                </th>



            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td hidden>
                    @Html.DisplayFor(modelItem => item.ano)
                </td>
                <td>
                    @{
                        var data = item.data.ToString().Split(" ");
                        <p> @data[0]</p>
                    }
                    
                </td>


                <!--<td>
    @{
        /*var strarr = item.mes.ToString().ToCharArray();
        strarr[0] = strarr[0].ToString().ToUpper()[0];
        string mes = string.Join("", strarr);*/
        <p></p>
        }
        </td>-->
<td>
                    @Html.DisplayFor(modelItem => item.CATEGORIA.nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.designacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.COLABORADOR.nome)
                </td>
                <td style="text-align:right;">
                    @Html.DisplayFor(modelItem => item.valor)€
                </td>



            </tr>
    }
</tbody>
</table>
<br />
<div class="row" style="margin-right:0.5%">
<div class="col-md-12" align="center">
    <a asp-action="Economato"
       asp-route-page="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-secondary @prevDisabled">
        Anterior
    </a>
    @{
        int minPage = 1;
        int maxPage = Model.TotalPages;
        int currentPage = Model.PageIndex;

        int minRange = Math.Max(minPage, currentPage - 2);
        int maxRange = Math.Min(maxPage, currentPage + 2);

        if (minRange != minPage)
        {
            <a asp-action="Economato"
               asp-route-page=@minPage
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="btn btn-light @prevDisabled">
                @minPage
            </a>
            if (minRange - 1 != minPage)
            {<a>...</a>}
        }

        for (int i = minRange; i <= maxRange; i++)
        {
            var pagina = i;
            if (currentPage == i)
            {
                <a asp-action="Economato"
                   asp-route-page=@pagina
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="btn btn-primary @nextDisabled">
                    @pagina
                </a>
            }
            else if (maxPage == currentPage)
            {
                <a asp-action="Economato"
                   asp-route-page=@pagina
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="btn btn-light @prevDisabled">
                    @pagina
                </a>

            }
            else
            {
                <a asp-action="Economato"
                   asp-route-page=@pagina
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="btn btn-light @nextDisabled">
                    @pagina
                </a>

            }


            //if (i != maxRange) { Console.Write(" "); }
        }

        if (maxRange != maxPage)
        {
            <a>...</a>
            <a asp-action="Economato"
               asp-route-page=@maxPage
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="btn btn-light @nextDisabled">
                @maxPage
            </a>
        }
    }
    <a asp-action="Economato"
       asp-route-page="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-primary @nextDisabled">
        Próxima
    </a>
</div>
</div>


</div>
@section scripts {
<script src="~/js/filtros.js"></script>
}
