@model Samsys_Custos.Helpers.PaginatedList<Samsys_Custos.Data.CUSTO>

@{
    ViewData["Title"] = "Economato";
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<br />
<center><h2>Economato</h2></center>
<br />
<hr />
<br />

<div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>
                    Data
                </th>
                <th>
                    Ano
                </th>
                <th>
                    Mês
                </th>
                <th>
                    Designação
                </th>
                <th>
                    Valor
                </th>
                <th>
                    Categoria
                </th>

                <th>
                    Utilizador
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.data)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ano)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.mes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.designacao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.valor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CATEGORIA.nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UTILIZADOR.nome)
                    </td>

                </tr>
            }
        </tbody>
    </table>
    <br />
    <div class="row" style="margin-right:0.5%">
        <div class="col-md-12"  align="right">
            <a asp-action="Economato"
               asp-route-page="@(Model.PageIndex - 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="btn btn-secondary @prevDisabled">
                Previous
            </a>
            <a asp-action="Economato"
               asp-route-page="@(Model.PageIndex + 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="btn btn-primary @nextDisabled">
                Next
            </a>
        </div>
    </div>
    

</div>
