@model IEnumerable<Samsys_Custos.Data.CUSTO>

@{
    ViewData["Title"] = "Gsm";
}

<h2>Custo de Gsm</h2>

<p>
    <a asp-action="CriarGsm">Adicionar Custo Gsm</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.data)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ano)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.mes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.designacao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.valor)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.CATEGORIA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GSM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UTILIZADOR)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ano)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.designacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CATEGORIA.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GSM.numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UTILIZADOR.nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_custo">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.id_custo">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.id_custo">Remover</a>
            </td>
        </tr>
}
    </tbody>
</table>
