@model List<Samsys_Custos.Models.CUSTOS_PREMIOS>

@{
    ViewData["Title"] = "Premio";
    ViewBag.TitlePage = "Custos de Prémios";
    ViewBag.Class = "fa-table";
}
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@if (User.IsInRole("SuperAdmin") || User.IsInRole("Prémios") || User.IsInRole("Gestor"))
{

    <center style="padding-top:1%"><h2>Custos de Prémios</h2></center>
    <hr />
    <a class=" btn btnActionCreate" asp-action="CriarPremio">Novo registo de Prémios</a>


}
<div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>

                <th>
                    Ano
                </th>
                <th>
                    Mês
                </th>
                <th>
                    Categoria
                </th>
                <th>
                    Sub-Categoria
                </th>
                <th>
                    Valor
                </th>


                <th>
                    Colaborador
                </th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.ano)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.mes)
                    </td>
                    <td class="categoria">
                        @Html.DisplayFor(modelItem => item.id_categoria)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.designacao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.valor)€
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Colaborador)
                    </td>

                    <td>
                        <a class="fa fa-fw fas fa-edit fa-lg btnIconEdit" asp-action="EditPremio" asp-route-id="@item.id_custo"></a>
                        <a class="fa fa-fw fas fa-trash fa-lg btnIconRemove" asp-action="DeletePremio" asp-route-id="@item.id_custo" asp-route-page="Premio"></a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>
@section scripts {
    <script src="~/js/premios.js"></script>
}
