@model IEnumerable<Samsys_Custos.Data.CUSTO>

@{
    ViewData["Title"] = "Premio";
    ViewBag.TitlePage = "Custos de Prémios";
    ViewBag.Class = "fa-table";
}

<p>
    <a asp-action="CriarPremio">Adicionar Custo Premio</a>
</p>
<div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>

                <th>
                    Ano
                </th>
                <th>
                    Mês
                </th>
                <th>
                    Rubrica
                </th>
                <th>
                    Valor
                </th>
                <th>
                    Categoria
                </th>

                <th>
                    Colaborador
                </th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.ano)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.mes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.designacao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.valor)€
                    </td>
                    <td class="categoria">
                        @Html.DisplayFor(modelItem => item.CATEGORIA.id_categoria)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.UTILIZADOR.nome)
                    </td>

                    <td>
                        <a asp-action="EditPremio" asp-route-id="@item.id_custo">Editar</a>
                        <a asp-action="Delete" asp-route-id="@item.id_custo" asp-route-page="Premio">Remover</a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
    </div>
    @section scripts {
        <script src="~/js/premios.js"></script>
    }
