@model IEnumerable<Samsys_Custos.Data.CUSTO>

@{
    ViewData["Title"] = "Premio";
}


<h2>Prémios</h2>

<p>
    <a asp-action="CriarPremio">Adicionar Custo Premio</a>
</p>
<table id="table_premios" class="table" hidden>
    <thead>
        <tr>
            <th>
Data Registo
            </th>
            <th>
                Ano
            </th>
            <th>
               Mês
            </th>
            <th>
                Rubrica
            </th>
            <th>
                Valor
            </th>
            <th>
                Categoria
            </th>

            <th>
                Colaborador
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ano)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.designacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.valor)€
                </td>
                <td class="categoria">
                    @Html.DisplayFor(modelItem => item.CATEGORIA.id_categoria)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.UTILIZADOR.nome)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.id_custo">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.id_custo">Detailhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.id_custo">Remover</a>
                </td>
            </tr>
        }
    </tbody>

</table>

@section scripts {
    <script src="~/js/premios.js"></script>
}
