@model IEnumerable<Samsys_Custos.Data.CUSTO>

@{
    ViewData["Title"] = "Validacao";
    ViewBag.TitlePage = "Validação PHC";
    ViewBag.Class = "fa-table";
}
<center><h2>Validação PHC</h2></center>
<br />

<div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th hidden>
                   id
                </th>
                <th>
                    Colaborador
                </th>
                <th>
                    Categoria
                </th>
                <th>
                    Data
                </th>
                <th>
                    Ano
                </th>
                <th>
                    Mês
                </th>
                <th>
                    Designação
                </th>
                <th>
                    Valor
                </th>
                <th>
                   Custo Interno
                </th>
            </tr>
        </thead>
        <tbody>
            
            @foreach (var item in Model)
                {
                  

            <tr>
                <td hidden>
                    @Html.DisplayFor(modelItem => item.id_phc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UTILIZADOR.nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CATEGORIA.nome)
                    <select class="form-control" asp-items="ViewBag.id_categoria">
                        <option selected="selected" value="vazio">
                            Atribuir Categoria
                        </option>
                    </select>
                  

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ano)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.designacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.valor)
                </td>
                <td>
                    @if (item.DADOS_PHC.custo_interno == false)
                    {
                        <center><input id="checkbox" type="checkbox" name="validacao_box" checked></center>
                        <p hidden>False</p>
                    }
                    else
                    {
                    <center><input id="checkbox" type="checkbox" name="validacao_box"></center>
                    <p hidden>True</p>

                }
                    </td>
                </tr>
                    }
                
        </tbody>
    </table>
</div>
@section scripts {
    <script src="~/js/Validação_check_mark.js"></script>
}

