@model IEnumerable<Samsys_Custos.Data.CUSTO>

@{
    ViewData["Title"] = "Viatura";
}

<h2>Custo de Viaturas</h2>

<p>
    <!--Verificação para pessoa autorizada!!-->
    <a asp-action="CriarViatura">Adicionar Custo Viatura</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                Data
            </th>
            <th>
               Ano
            </th>
            <th>
               Mês
            </th>
            <th>
               Valor
            </th>
            <th>
               Categoria
            </th>
            <th>
              Colaborador
            </th>
            <th>
               Viatura
            </th>
            <th>
                Acções
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ano)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.valor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CATEGORIA.nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UTILIZADOR.nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VIATURA.matricula)
                </td>
                <td>
                    <a asp-action="EditViatura" asp-route-id="@item.id_custo">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@item.id_custo">Remover</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="~/js/cascading_select.js"></script>