@model Samsys_Custos.Helpers.PaginatedList<Samsys_Custos.Data.CUSTO>

@{
    ViewData["Title"] = "Custos Viaturas";
    ViewBag.TitlePage = "Custos de Viaturas";
    ViewBag.Class = "fa-table";
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<center style="padding-top:1%"><h2>Custos Viaturas</h2></center>
<hr />
<h8><b>Você está aqui : </b>Registo de Custos - Viaturas</h8>
<hr />
<div class="row">
    <div class="col-md-4">
        <label class="control-label">Ano</label>
        <select class="form-control" asp-items="ViewBag.ano" id="select_ano_custos"></select>
    </div>
    <div class="col-md-4">
        <label class="control-label">&ensp;</label><br />
        <input type="submit" value="Filtrar" class="btn btnCreate" id="btnFiltroViatura" />
    </div>
    <div class="col-md-4">
    </div>

</div>
<br />
<hr />
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@if (User.IsInRole("SuperAdmin") || User.IsInRole("Viaturas") || User.IsInRole("Gestor"))
{

    <a class=" btn btnActionCreate" asp-action="CriarViatura">Novo registo de Viatura</a>
}
<div class="table-responsive">

    <table class="table table-bordered" id="dataTable" cellspacing="0">
        <thead>
            <tr>
                <th>
                    Ano
                </th>
                <th>
                    Mês
                </th>
                <th>
                    Viatura
                </th>
                <th>
                    Categoria
                </th>
                <th>
                    Colaborador
                </th>
                <th style="text-align:right;"> 
                    Valor
                </th>
                <th>
                    Opções
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ano)
                    </td>
                    <td>
                        @{
                            var strarr = item.mes.ToString().ToCharArray();
                            strarr[0] = strarr[0].ToString().ToUpper()[0];
                            string mes = string.Join("", strarr);
                            <p>@mes</p>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VIATURA.matricula)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CATEGORIA.nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UTILIZADOR.nome)
                    </td>
                    <td style="text-align:right;">
                        @Html.DisplayFor(modelItem => item.valor)€
                    </td>
                    <td>
                        <a class="fa fa-fw fas fa-edit fa-lg btnIconEdit" asp-action="EditViatura" asp-route-id="@item.id_custo"></a>
                        <a class="fa fa-fw fas fa-trash fa-lg btnIconRemove" asp-action="DeleteViatura" asp-route-id="@item.id_custo"></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <div class="row" style="margin-right:0.5%">
        <div class="col-md-12" align="center">
            <a asp-action="Viatura"
               asp-route-page="@(Model.PageIndex - 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="btn btn-secondary @prevDisabled">
                Anterior
            </a>
            @{
                int minPage = 1;
                int maxPage = Model.TotalPages;
                int currentPage = Model.PageIndex;

                int minRange = Math.Max(minPage, currentPage - 2);
                int maxRange = Math.Min(maxPage, currentPage + 2);

                if (minRange != minPage)
                {
                    <a asp-action="Viatura"
                       asp-route-page=@minPage
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       class="btn btn-light @prevDisabled">
                        @minPage
                    </a>
                    if (minRange - 1 != minPage)
                    {<a>...</a>}
                }

                for (int i = minRange; i <= maxRange; i++)
                {
                    var pagina = i;
                    if (currentPage == i)
                    {
                        <a asp-action="Viatura"
                           asp-route-page=@pagina
                           asp-route-currentFilter="@ViewData["CurrentFilter"]"
                           class="btn btn-primary @nextDisabled">
                            @pagina
                        </a>
                    }
                    else if (maxPage == currentPage)
                    {
                        <a asp-action="Viatura"
                           asp-route-page=@pagina
                           asp-route-currentFilter="@ViewData["CurrentFilter"]"
                           class="btn btn-light @prevDisabled">
                            @pagina
                        </a>

                    }
                    else
                    {
                        <a asp-action="Viatura"
                           asp-route-page=@pagina
                           asp-route-currentFilter="@ViewData["CurrentFilter"]"
                           class="btn btn-light @nextDisabled">
                            @pagina
                        </a>

                    }


                    //if (i != maxRange) { Console.Write(" "); }
                }

                if (maxRange != maxPage)
                {
                    <a>...</a>
                    <a asp-action="Viatura"
                       asp-route-page=@maxPage
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       class="btn btn-light @nextDisabled">
                        @maxPage
                    </a>
                }
            }
            <a asp-action="Viatura"
               asp-route-page="@(Model.PageIndex + 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="btn btn-primary @nextDisabled">
                Próxima
            </a>
        </div>
    </div>

</div>
@section scripts {
    <script src="~/js/filtros.js"></script>
}

